@using RavistekTicket.Peresentation.PresentationExtensions
@using SharghPc.DataLayer.Entites.ProductOrder
@using SharghPc.Web.PresentationExtensions
@model List<SharghPc.Application.Services.Order.OrdersDto>

@{
    ViewData["Title"] = "لیست سفارشات";
}

<div class="nk-content">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">سفارشات</h3>
                        </div>
                        <!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <div class="nk-block-head-content">
                                        
                                        
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- .nk-block-head-content -->
                    </div>
                    <!-- .nk-block-between -->
                </div>
                <!-- .nk-block-head -->
                <div class="card card-bordered card-preview">
                    <div class="card-inner">
                        <table class="datatable-init nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                            <thead>
                                <tr class="nk-tb-item nk-tb-head">
                                    <th class="nk-tb-col nk-tb-col-check">
                                        <div class="custom-control custom-control-sm custom-checkbox notext">
                                            <input type="checkbox" class="custom-control-input" id="uid" />
                                            <label class="custom-control-label" for="uid"></label>
                                        </div>
                                    </th>
                                    <th class="nk-tb-col"><span class="sub-text">شماره سفارش</span></th>
                                    <th class="nk-tb-col tb-col-mb"><span class="sub-text">تاریخ ثبت سفارش</span></th>
                                    <th class="nk-tb-col tb-col-md"><span class="sub-text">شماره فاکتور </span></th>
                                    <th class="nk-tb-col tb-col-lg"><span class="sub-text">نام سفارش دهنده</span></th>
                                    <th class="nk-tb-col tb-col-md"><span class="sub-text">وضعیت</span></th>
                                    <th class="nk-tb-col nk-tb-col-tools text-end"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr class="nk-tb-item">
                                            <td class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                    <input type="checkbox" class="custom-control-input" id="uid1" />
                                                    <label class="custom-control-label" for="uid1"></label>
                                                </div>
                                            </td>
                                            <td class="nk-tb-col">
                                                <div class="user-card">

                                                    <span class="title">@item.OrderId</span>
                                                </div>
                                            </td>
                                            <td class="nk-tb-col tb-col-mb" data-order="35040.34">
                                                <span class="tb-amount">@PersianDate.ToShamsiDate(item.InsetTime)</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-md">
                                                <span>@item.RequestId</span>
                                            </td>

                                            <td class="nk-tb-col tb-col-lg">
                                                <span>@item.UserName</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-md">
                                                @if (item.OrderState == OrderState.Processing)
                                                {
                                                    <span class="badge badge-dot bg-warning">
                                                        @item.OrderState.GetEnumName()

                                                    </span>

                                                }
                                                @if (item.OrderState == OrderState.Canceled)
                                                {
                                                    <span class="badge badge-dot bg-danger">
                                                        @item.OrderState.GetEnumName()

                                                    </span>

                                                }
                                                @if (item.OrderState == OrderState.Delivered)
                                                {
                                                    <span class="badge badge-dot bg-success">    
                                                        @item.OrderState.GetEnumName()
                                                    </span>

                                                }
                                            </td>

                                            <td class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">
                                                    <li class="nk-tb-action-hidden">
                                                        <a onclick="AddToDelivered('@item.OrderId')" class="btn btn-icon btn-trigger btn-tooltip" aria-label="علامت گذاری به عنوان تحویل داده شده" data-bs-original-title="علامت گذاری به عنوان تحویل داده شده"> <em class="icon ni ni-truck"></em></a>
                                                    </li>
                                                    <li class="nk-tb-action-hidden">
                                                        <a asp-area="Admin" asp-controller="Order" asp-action="GetOrder" asp-route-Id="@item.OrderId" class="btn btn-icon btn-trigger btn-tooltip" aria-label="مشاهده سفارش" data-bs-original-title="مشاهده سفارش"> <em class="icon ni ni-eye"></em></a>
                                                    </li>
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li>
                                                                        <a asp-area="Admin" asp-controller="User" asp-action="LoadUser" asp-route-UserId="@item.UserId"><em class="icon ni ni-edit"></em><span>مشاهده اطلاعات کاربر </span></a>
                                                                    </li>

                                                                    <li>
                                                                        <a asp-area="Admin" asp-controller="Order" asp-action="GetOrder" asp-route-Id="@item.OrderId"><em class="icon ni ni-edit"></em><span>مشاهده فاکتور </span></a>
                                                                    </li>
                                                                   
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>

                                    }
                                }
                                <!-- .nk-tb-item  -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- .nk-block -->
            </div>
        </div>
    </div>
</div>


@section AdminScripts
{
    <script>

        function removeUser(Id) {
            swal.fire({
                title: "اخطار",
                text: "آیا از انجام این عملیات اطمینان دارید ؟",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله  انجام شود',
                cancelButtonText: 'خیر'
            }).then((willDelete) => {
                if (willDelete.value) {

                    $.ajax({
                        url: "/Admin/User/RemoveUser",
                        type: "get",
                        data: {
                            id: Id
                        },

                        success: function (res) {

                            if (res === true) {
                                swal.fire(
                                    'موفق!',
                                    'با موفقیت حذف شد',
                                    'success'
                                );

                                location.reload();

                            } else {
                                swal.fire(
                                    'خطا!',
                                    res.message,
                                    'success'
                                );
                            }

                        },
                        error: function () {

                        }
                    });

                }
            });
        };


        function AddToDelivered(Id) {
            swal.fire({
                title: "اخطار",
                text: "آیا از انجام این عملیات اطمینان دارید ؟",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله  انجام شود',
                cancelButtonText: 'خیر'
            }).then((willDelete) => {
                if (willDelete.value) {

                    $.ajax({
                        url: "/Admin/Order/AddToDelivered",
                        type: "get",
                        data: {
                            id: Id
                        },

                        success: function (res) {

                            if (res === true) {
                                swal.fire(
                                    'موفق!',
                                    res.message,
                                    'success'
                                );

                                location.reload();

                            } else {
                                swal.fire(
                                    'خطا!',
                                    res.message,
                                    'success'
                                );
                            }

                        },
                        error: function () {

                        }
                    });

                }
            });
        };


    </script>

}
