<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
<meta property="og:locale" content="fa_IR">
<meta property="og:type" content="product">

<title>@ViewData["Title"] خدمات کامپیوتر شرق</title>

<meta name="description" content="@ViewData["description"]">
<meta name="keywords" content="@ViewData["keywords1"], @ViewData["keywords2"], @ViewData["keywords3"], @ViewData["keywords4"]">

<meta property="og:title" content="@ViewData["og:title"]">
<meta property="og:description" content="@ViewData["og:description"]">
<meta property="og:url" content="https://sharghpc.ir/">
<meta property="og:site_name" content="sharghpc">
<meta property="og:updated_time" content="2024-10-31T23:55:23+03:30">
<meta property="og:image" content="https://sharghpc.ir/favicon.png">
<meta property="og:image:secure_url" content="./favicon.png">
<meta property="og:image:width" content="476">
<meta property="og:image:height" content="476">
<meta property="og:image:alt" content="sharghpc">
<meta property="og:image:type" content="image/jpeg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="@ViewData["twitter:title"]">
<meta name="twitter:description" content="@ViewData["twitter:description"]">
<meta name="twitter:image" content="https://sharghpc.ir/favicon.png">
<meta name="twitter:label1" content="آرین داستانی نویسنده">
<meta name="twitter:data1" content="مدیر سایت">
<meta name="twitter:label2" content="زمان خواندن">
<meta name="twitter:data2" content="کمتر از یک دقیقه">
<meta name="author" content="آرین داستانی">
<meta name="msapplication-TileImage" content="~/favicon.png">

<link rel="icon" type="image/x-icon" href="~/favicon.png">

@if (ViewData["canonicalUrl"] != null)
{
    <link rel="canonical" href="https://sharghpc.ir/products/@ViewData["canonicalUrl"]">
}


