@model List<SharghPc.DataLayer.DTOs.Product.ProductGalleriesDto>

@{
    ViewData["Title"] = "لیست تصاویر محصول";
    var productId = (long)ViewBag.productId;

}

<div class="nk-content">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">تصاویر</h3>
                        </div>
                        <!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                           
                                        <li class="nk-block-tools-opt">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalZoom"><em class="icon ni ni-plus"></em><span>افزودن عکس جدید</span></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- .nk-block-head-content -->
                    </div>
                    <!-- .nk-block-between -->
                </div>
                <!-- .nk-block-head -->
                <div class="card card-bordered card-preview">
                    <div class="card-inner">
                        <table class="datatable-init nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                            <thead>
                                <tr class="nk-tb-item nk-tb-head">
                                    <th class="nk-tb-col nk-tb-col-check">
                                        <div class="custom-control custom-control-sm custom-checkbox notext">
                                            <input type="checkbox" class="custom-control-input" id="uid" />
                                            <label class="custom-control-label" for="uid"></label>
                                        </div>
                                    </th>
                                    <th class="nk-tb-col"><span class="sub-text">نام و تصویر</span></th>
                                    <th class="nk-tb-col nk-tb-col-tools text-end"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr class="nk-tb-item">
                                            <td class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                    <input type="checkbox" class="custom-control-input" id="uid1" />
                                                    <label class="custom-control-label" for="uid1"></label>
                                                </div>
                                            </td>
                                            <td class="nk-tb-col">
                                                <div class="user-card">
                                                    <div class="user-avatar bg-dim-primary d-none d-sm-flex">
                                                        <img src="~/content/productimgaeGallry/@item.ProductId/@item.ImageName" alt="@item.ImageName" class="thumb" />
                                                    </div>
                                                    <span class="title">@item.ImageName</span>
                                                </div>
                                            </td>
                                          @*  <td class="nk-tb-col tb-col-mb" data-order="35040.34">
                                                <span class="tb-amount">@item.Price.ToString("N") <span class="currency">تومان</span></span>
                                            </td>*@
                                          @*  <td class="nk-tb-col tb-col-md">
                                                <span>@item.ProductSelectedCategories.FirstOrDefault(x=>x.ProductId==item.Id).ProductCategory.Title</span>
                                            </td>*@

                                           @* <td class="nk-tb-col tb-col-lg">
                                                <span>@item.Inventory</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-md">
                                                @if (item.IsActive)
                                                {
                                                    <span class="tb-status text-success">فعال</span>

                                                }
                                                else
                                                {
                                                    <span class="tb-status text-danger">غیرفعال</span>

                                                }
                                            </td>*@
                                            <td class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-1">

                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li>
                                                                        <a onclick="removeimageProduct('@item.Id')"><em class="icon ni ni-trash"></em><span>حذف </span></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>

                                    }
                                }
                                <!-- .nk-tb-item  -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- .nk-block -->
                <div class="card">
                    <div class="card-inner">
                        <form asp-area="Admin" asp-controller="Product" asp-action="AddProductImageGallery" enctype="multipart/form-data" class="form-validate" novalidate="novalidate">
                            <div class="row g-gs">
                                <div class="col-md-6">
                                    <input type="hidden" value="@productId" name="productId" />
                                    <div class="form-group">
                                        <label class="form-label" for="default-06">آپلود فایل پیش فرض</label>
                                        <div class="form-control-wrap">
                                            <div class="form-file">
                                                <input name="image" type="file" class="form-file-input" accept=".png,.jpg,.jpeg">
                                                <label class="form-file-label" for="customFile">انتخاب فایل</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-lg btn-primary">ذخیره اطلاعات</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section AdminScripts
    {
    <script>

        function removeimageProduct(Id) {
            swal.fire({
                title: "اخطار",
                text: "آیا از انجام این عملیات اطمینان دارید ؟",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله  انجام شود',
                cancelButtonText: 'خیر'
            }).then((willDelete) => {
                if (willDelete.value) {

                    $.ajax({
                        url: "/Admin/product/RemoveProductGalleryImage",
                        type: "get",
                        data: {
                            id: Id
                        },

                        success: function (res) {

                            if (res === true) {
                                swal.fire(
                                    'موفق!',
                                    'با موفقیت حذف شد',
                                    'success'
                                );

                                location.reload();

                            } else {
                                swal.fire(
                                    'خطا!',
                                    res.message,
                                    'success'
                                );
                            }

                        },
                        error: function () {

                        }
                    });

                }
            });
        };

    </script>

}
