@model List<SharghPc.DataLayer.Entites.Site.IndexCategoryArea>

@{
    ViewData["Title"] = "دسته بندی ها";
}



@*=================================================================*@

<div class="nk-content">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">@ViewData["Title"]</h3>
                        </div>
                        <!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="form-group">
                                <a asp-area="Admin" asp-controller="Index" asp-action="AddCategoryAreas" class="btn btn-lg btn-primary">افزودن مورد جدید</a>
                            </div>
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"><em class="icon ni ni-more-v"></em></a>

                            </div>
                        </div>
                        <!-- .nk-block-head-content -->
                    </div>
                    <!-- .nk-block-between -->
                </div>
                <!-- .nk-block-head -->
                <div class="card card-bordered card-preview">
                    <div class="card-inner">
                        <table class="datatable-init nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                            <thead>
                                <tr class="nk-tb-item nk-tb-head">
                                    <th class="nk-tb-col nk-tb-col-check">
                                        <div class="custom-control custom-control-sm custom-checkbox notext">
                                            <input type="checkbox" class="custom-control-input" id="uid" />
                                            <label class="custom-control-label" for="uid"></label>
                                        </div>
                                    </th>
                                    <th class="nk-tb-col"><span class="sub-text">ایدی</span></th>
                                    <th class="nk-tb-col tb-col-mb"><span class="sub-text">نام دسته بندی</span></th>
                                    <th class="nk-tb-col tb-col-md"><span class="sub-text">تصویر</span></th>
                                    <th class="nk-tb-col tb-col-lg"><span class="sub-text">Url</span></th>
                                    <th class="nk-tb-col nk-tb-col-tools text-end"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr class="nk-tb-item">
                                            <td class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                    <input type="checkbox" class="custom-control-input" id="uid1" />
                                                    <label class="custom-control-label" for="uid1"></label>
                                                </div>
                                            </td>
                                            <td class="nk-tb-col">
                                                <div class="user-card">

                                                    <span class="title">@item.Id</span>
                                                </div>
                                            </td>
                                            <td class="nk-tb-col tb-col-mb" data-order="35040.34">
                                                <span class="tb-amount">@item.Title</span>
                                            </td>
                                            <td class="nk-tb-col tb-col-md">
                                                <img width="80px" height="80px" src="~/content/CategoryArea/@item.ImageName"/>
                                            </td>

                                            <td class="nk-tb-col tb-col-lg">
                                                <span>@item.UrlName</span>
                                            </td>
                                            @*                         <td class="nk-tb-col tb-col-md">

                                    <span class="tb-status text-base">غیرفعال</span>

                                    </td>*@
                                            <td class="nk-tb-col nk-tb-col-tools">

                                                <a asp-area="Admin" asp-controller="Index" asp-action="EditCategoryAreas" asp-route-Id="@item.Id" class="btn btn-sm btn-warning">ویرایش </a>

                                                <a onclick="removeCategoryArea('@item.Id')" class="btn btn-sm btn-danger">حذف </a>
                                            </td>
                                        </tr>

                                    }
                                }
                                <!-- .nk-tb-item  -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- .nk-block -->
            </div>
        </div>
    </div>
</div>





@section AdminScripts
{
    <script>
        function removeCategoryArea(id) {
            swal.fire({
                title: "اخطار",
                text: "آیا از حذف این آیتم اطمینان دارید ؟",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله  انجام شود',
                cancelButtonText: 'خیر'
            }).then((willDelete) => {
                if (willDelete.value) {

                    $.ajax({
                        url: "/Admin/Index/RemoveCategoryArea",
                        type: "get",
                        data: {
                            id: id
                        },

                        success: function (res) {

                            if (res === true) {
                                swal.fire(
                                    'موفق!',
                                    res.message,
                                    'success'
                                );

                                location.reload();

                            } else {
                                swal.fire(
                                    'خطا!',
                                    res.message,
                                    'danger'
                                );
                            }

                        },
                        error: function () {

                        }
                    });

                }
            });
        };


    </script>
}